
<p><%= link_to 'Add a New Vid', new_vid_url %></p>
<div class="container">
  <div>
    <%= select_tag(:vid_id, options_from_collection_for_select(Vid.all, :id, :caption)) %>

  </div>
  <div class="list">
  <ul>
    <% @vids.each do |vid| %>
      <li><iframe width="560" height="315" src="<%=vid.source%>" frameborder="0" allowfullscreen></iframe>
        <p>
          <%= link_to vid.caption, vid_url(vid.id) %>
        </p>
      </li>
    <% end %>
  </ul>
  </div>
</div>
<footer></footer>
