<div class="container">
  <div class="list">
  <ul>
    <% @vids.each do |vid| %>
      <li><iframe width="560" height="315" src="<%=vid.source%>" frameborder="0" allowfullscreen></iframe>
        <p>
          <%= link_to vid.caption, vid_url(vid.id) %>
        </p>
      </li>
    <% end %>
  </ul>
  </div>
</div>
<footer></footer>
